html {
  font-family: Helvetica; 
  font-family: sans-serif;
  background: Black;
  text-align: center;
}
h1 {
  color: White;
  font-family: Verdana; 
  font-weight: Normal; 
  font-size: 50px;
  font-orientation: center; 
}
h2 {
  color: DarkGreen;
}
ol li a {
  color: SeaGreen;
}
